@import url(./reset.css);
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color: #fe5000;

$text-gray: #888;
$line-gray: #DDD;
$bg-gray: #F5F5F5;


/* COMMON */
body {
	height: 100%;
	font: 16px/1.5 "Montserrat", "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
    letter-spacing: -0.01em;
}

h4 {
    font-weight: bold;
    font-size: 2em;
    color: #000;
}
.hidden {
    position: absolute;
	visibility: hidden;
	overflow: hidden;
	width: 0; height: 0;
	margin: 0; padding: 0;
	font: 0/0 inherit;
}

.navi {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: $primary-color;
    color: white;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
    
    .logo {
        a {
            display: block;
            width: 150px;
            height: 100px;
            background-color: aquamarine;
        }
    }
}

.gnb {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    > li {
        margin: 0 1em;
        > a {
            display: block;
            line-height: 100px;
            padding: 0 1.5em;
            box-sizing: border-box;
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            
        }
        &:hover .gnb_sub {
            // display: block;
            // height: auto;
            transform: scaleY(100%);
            opacity: 1;
        }
        &.active {
            > a {
                color: $primary-color;
            }
        }
    }

    &_sub {
        // display: inline-block;
        // margin: 0 auto;
        // height: 0;
        // overflow: hidden;
        flex-direction: column;
        border: 1px solid #EEE;
        transform: scaleY(0%);
        transform-origin: top;
        opacity: 0;
        transition: all 0.5s;
        > li {
            > a {
                display: block;
                padding: 1em 2em;
                text-align: center;
                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
            & + li {
                border-top: 1px solid #EEE;
            }
        }
    }
}


/* FOOTER */
.footer {
    margin-top: 5em;
    padding: 3em 0;
    background-color: black;
    color: white;

    .navi {
        justify-content: space-between;
        padding: 2em;
        border-bottom: 1px solid #555;
    }
}

.fnb {
    display: flex;
    li {
        & + li {
            &:before {
                content: '';
                margin: 0 1em;
                border-left: 1px solid #555;
            }
        }
        a { color: inherit; }
    }
}
.ft_sns {
    display: flex;
    li {
        & + li {
            margin-left: 1em;
        }
        a { color: inherit; }
    }
}

.copyright {
    display: flex;
    margin: 1em 0;
    padding: 2em;
    color: $text-gray;

    .text {}
    .link {
        display: flex;
        li {
            a { color: inherit; }
        }
    }
} 

.tab_btn {
    display: flex;
    max-width: 800px;
    margin: 2em auto;

    > li {
        position: relative;
        > a {
            display: block;
            text-align: center;
            color: $text-gray;
            &.active {
                font-weight: bold;
                color: black;
            }
        }
    }
    
    &.tp-box {
        > li {
            flex: 1;
            margin-left: -1px;
            border: 1px solid black;
            > a {
                width: 100%;
                padding: 1em 0;
                &.active {
                    background-color: black;
                    color: white;
                }
                
                & + a {
                    // left: -1px;
                }    
            }
        }

    }
    &.tp-bar {
        justify-content: center;
        border-bottom: 1px solid $line-gray;

        > li {
            margin: 2em 0 1em;
            border-left: 1px solid $line-gray;

            &:last-child {
                border-right: 1px solid $line-gray;
            }

            > a {
                padding: 0 2em;


                &.active {
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}

/* CONTENTS */
.page_title {
    margin: 5em 0 2em;
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}


.main {
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;    
    }
    // margin-top: 100px;
    // padding-top: 100px;
    &_visual {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    &_conner {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100vw;
        height: 100vh;
        &:nth-of-type(1) { background-color: cornsilk;}
        &:nth-of-type(2) { background-color: azure;}
        &:nth-of-type(3) { background-color: seashell;}
    }
}

dl {
    display: flex;

    &:not(:first-of-type) {
        margin-top: 1em;
    }    

    > dt {
        font-weight: bold;
    }
    > dd {
        dl {
            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }
    }
}
.contact {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25em;
    &:not(:first-of-type) {
        margin-top: 2em;
    }
    
    &.location {
        dl {
            dd {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 1em; height: 1em;
                    background: {
                        image: url('/images/m41_location_ico.png');
                        // size: 100%;
                        repeat: no-repeat;
                        position: center;
                    };
                }
            }
        }
    }

    > dt {
        width: 175px;
        font-weight: 600;
        font-size: 1.5em;
    }
    dd {
        margin-bottom: 1em;

        dl {
            display: block;
        }
    }
}

.box_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
    & + .box_wrap {
        margin-top: 10em;
    }
    
    .container {
        display: flex;
        gap: 3em;
    }
    &:nth-child(odd) {
        .container {
            flex-direction: row;
        }
    }
    &:nth-child(even) {
        .container {
            flex-direction: row-reverse;
        }
    }

    .img_box {
        flex: 4;
        > img {
            width: 100%;
        }
    }
    .txt_box {
        flex: 6;
        // margin-left: 3em;
        font: 200 1em/1.8 'Noto Sans KR';
        // color: $text-gray;
        h4 {
            &:before {
                content: '';
                display: block;
                background-color: $primary-color;
                width: 2em; height: 2px;
            }
        }

        p {
            & + p {
                margin-top: 1em;
            }
        }
    }
}

.info_wrap {
    padding: 2em 0;
    > dl {
        > dt {
            &:before {
                content: '';
                display: inline-block;
                width: 3px; height: 3px;
                margin-right: 0.5em;
                line-height: 1.5;
                vertical-align: middle;
                border-radius: 3px;
                background-color: black;
            }
        }
        > dd {}
    }
    dl {
        dt {
            min-width: 6em;
        }
        dd {
            font-weight: 400;
            color: $text-gray;

            dl {
                margin-top: 0.5em;
                dt {}
                dd {}
            }
        }
    }
    &.exbt_summary {
        margin: 3em 0;
        padding: 1em;
        background-color: white;
    }
    &.see_summary {
        font-size: 1.25em;
        dl {
            padding-bottom: 1em;
            border-bottom: 1px solid $line-gray;
        }
    }
}

.exbt {
    padding: 3em 0;
    background-color: $bg-gray;
    .txt_box {
        margin-left: 3em;
    }
}

.title_wrap {
    &.has-right {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}